.hello_word_head_name {
    text-align:center;
    margin-top: 1.5rem;
    font-family: 'Otomanopee One', sans-serif;
}

.pragmatic_footer_logo {
    font-family: 'Otomanopee One', sans-serif;
}

.mw_500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}