.hello_word_head_name {
    text-align:center;
    margin-top: 1.5rem;
    font-family: 'Otomanopee One', sans-serif;
}

.pragmatic_footer_logo {
    font-family: 'Otomanopee One', sans-serif;
}

.mw_500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 1wrem;
    border-radius: 20rem;
    object-fit: cover;

}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color : black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding : 0.3rem
}

.round_button:hover {
    color :dimgrey;
}